.media-card {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin-top: 1.5rem;

    > img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1.5rem;

        color: $color-white;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, #000 86%);
        opacity: 0.7;

        .date {
            // position: absolute;
            // bottom: 1rem;
            // right: 1.5rem;
            display: flex;
            align-items: center;
            font-size: .85rem;
            color: $color-gray;
            img {
                height: 1rem;
                margin-left: .5rem;
            }
        }

        .heading {
            font-size: 1.2rem;
            margin-top: .5rem;
        }
    }
}